@model ImprovedSearchModel

@using Nop.Core.Domain.Blogs

<div class="page blog-page">
    <div class="vult-page-title">
        <h2>
            @T("Blog")
        </h2>
    </div>
    @(await Html.PartialAsync("~/Plugins/Widgets.ImprovedSearch/Views/_BlogList.cshtml", Model.BlogPostListModel))

    <div class="vult-page-title">
        <h2>
            @T("admin.contentmanagement.topics")
        </h2>
    </div>
    @(await Html.PartialAsync("~/Plugins/Widgets.ImprovedSearch/Views/_TopicList.cshtml", Model.TopicListModel))
</div>